html{
    background-color: #708090;
    width: 100vw;
    scroll-behavior: smooth;
    font-family: "Courier New", serif;
}

html, body {
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#wrapper1{
    width: 60vw;
    height: 80vh;
    background-color: #607080;
    border-radius: 0.5em;
    border: #304050 solid 0.5vw;
}

.partyAdds{
    height: 85vh;
    width: 15vw;
    background-color: #607080;
    border-radius: 0.5em;
    margin: 1vw;
}