html{
    background-color: #708090;
    width: 100vw;
    scroll-behavior: smooth;
    font-family: "Courier New", serif;
}

html, body {
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
    height: fit-content;
}

header{
    width: 90vw;
    height: 5vh;
    padding: 1.5em;
    margin: 0.5em 2em 0em 2em;
    border-radius: 0.5em;
    background-color: rgba(255,255,255,0.8);
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}

#go_login_btn, #go_register_btn{
    width: 8%;
    text-align: center;
    padding: 1em;
    border-radius: 0.5em;
    margin: 0 3% 0 3%;
}


#wrapper1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#emoji_title{
    font-size: 42pt;
    margin: 0.5em 0 0.5em 0;
}

#emoji_title h1{
    margin:0;
}

#input_citizen{
    text-align: left;
    border-radius: 0.5em;
    border: solid black 0.1em;
    padding: 0.5em 1em 0.5em 1em;
    background-color: rgba(255,255,255,0.8);
    max-width: 40vw;
    width: 40vw;
    height: 2em;
    max-height: 30vh;
    overflow: hidden;
}

#form_search_citizen{
    display: flex;
    width: 60vw;
    flex-direction: row;
    align-items: center;
}


#hidden_wrapper1{
    display: none;
    margin-top: 3%;
    justify-content: center;
    width: 60%;
    height: 35vh;
    background-color: transparent;
    overflow-y: scroll;
    overflow-x:hidden ;
    padding: 0 1em 0.5em 1em;

}

#ranking_table{
    border-collapse: separate;
    -webkit-border-vertical-spacing: 0.2em;
    -webkit-border-horizontal-spacing: 0.2em;
    width: 60vw;
}


.fixTableHead {
    overflow-y: scroll;
    height: 60em;
}
.fixTableHead thead th{
    position: sticky;
    top: 0;
    background-color: rgba(220,220,220);
    padding: 0.5em;
    border-radius: 0.1em;
}

#ranking_table td{
    width: 25%;
    padding: 0 0.3em 0 0.3em  ;
    border-radius: 0.1em;
    background-color: rgba(150,150,150);
    color: white;
    text-align: center;
}

#wrapper2{
    width: 85vw;
    height: 38vh;
    margin-top: 3%;
    margin-bottom: 3%;
}

#party_adds{
    width: available;
    height: 40vh;
    background-color: #607080;
    border-radius: 0.5em;
    border: solid black 0.1em;
    padding: 0.5em 1em 0.5em 1em;

}

.myButtons{
    height: 3em;
    width: 8em;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5em;
    border: 0;
    padding: 0.5em 1em 0.5em 1em;
    margin-left: 2em;
}

span.input[contenteditable] { /*I'm using span to change the size of the div according to the input*/
    display: inline-block;
}
span.input[contenteditable]:empty::before {
    content: attr(data-placeholder);
    display: inline-block;
}

@media (max-width: 900px){
    header{
        margin-top: 0;
        height: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #go_login_btn, #go_register_btn{
        margin: 0;
        width: 40%;
        padding: 1vh 2vw 1vh 2vw;
    }

    #go_register_btn{
        margin-right: 2vw;
        order: 2;
    }

    #go_login_btn{
        order: 3;
    }


    #header_title{
        order: 1;
        width: 100%;
        text-align: center;
    }

    #form_search_citizen{
        width: 90vw;
        height: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #input_citizen{
        max-width: none;
        width: 100%;
        margin-bottom: 2vh;
    }

    #search_button, #ranking_button{
        margin: 0;
    }

    #hidden_wrapper1{
        width: 100vw;
    }

}


