html{
    background-color: #708090;
    width: 100vw;
    scroll-behavior: smooth;
    font-family: "Courier New", serif;
}

html, body {
    margin: 0;
    height: fit-content;
    overflow-x: hidden ;
}

body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 2vh 0 2vh 0;
}

#wrapper1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 42vh;
    margin-bottom: 2vh;
}

#pp{
    height: 100%;
    width: 25%;
    border-radius: 0.5em;
    background-color: rgba(255,255,255,0.8);
    overflow: hidden;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

#personal_data{
    height: 100%;
    width: 60%;
    position: relative;
    border-radius: 0.5em;
    background-color: white;
}

#personal_data div{
    display: inline-block;
    max-width: 90%;
    margin: 1% 3% 1% 3%;
}

#mail_data, #current_address, #phone_data {
    border-radius: 0.5em;
    max-height: 2em;
    max-width: 100%;
    float: left;
    transition: padding 1s;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}


#personal_data #data_btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    margin: 3% 0 0 0;
    max-width: none;
    width: 100%;

}

#logout_bnt, #edit_btn{
    padding: 1% 2% 1% 2%;
    border-radius: 0.5em;
    cursor: pointer;
    font-weight: 800;
}



#wrapper2{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 90vw;
    height: fit-content;
}

#score_detail{
    border-radius: 0.5em;
    padding: 1em 1em 2em 1em;
    width: 100%;
    height: fit-content;
    background-color: white;
}

#score_detail_title{
    margin: 0;
    text-align: center;
}

#score_detail > div{ /*first div of score detail only, we don't bother with an id since the div have only a css purpose*/
    margin: 1em 0 1em 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#score_detail label{
    font-size: large;
    font-weight: 800;
    text-decoration: underline;
    width: 100%;
}

.progress{
    height: 2em;
    margin: 1em 0 1em 0;
    width: 95%;
    background-color: darkgray;
    border-radius: 0.5em;
}

.progress_done_minus{
    font-family: Calibri, sans-serif;
    color: white;
    height: 2em;
    width: 0;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress_done_plus{
    font-family: Calibri, sans-serif;
    color: white;
    height: 2em;
    width: 0;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#score_detail p{
    margin: 0;
    line-height: 2em;
}

@media (max-width: 900px) {
    body{
        height: fit-content;
    }

    #wrapper1{
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
    }
    #pp{
        width: 95vw;
        height: auto;
        margin: 3vh 0 3vh 0;
    }
    #personal_data{
        width: 95vw;
        height: fit-content;
        margin-bottom: 3vh;
    }

    #wrapper2{
        width: 95vw;
        margin-bottom: 3vh;
    }

    #score_detail{
        width: 100%;
    }
}

